<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>I built this app following the <a href="www.thefirehoseproject.com">firehose</a> web develepment course. The two founders Ken and Marco created this course to help teach people the joys of coding.</p>

	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'me.jpg', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	  <h2 class="text-center">Alex Adamo</h2>
	  <br />
	  <p>
	    Alex Adamo is a aspiring web developer and a Conceierge during night. He enjoys working on coding projects that interest him or working with his friends to create iOS applications and hopefully web versions later on.
	   </p>
  </div>

</div>

<br class="clear" />
<br />
<br />